/* style.css */

body {
  font-family: "Comic Sans MS", cursive;
  background-color: #fce4ec;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #013f94;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.number-image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.number {
  font-size: 100px;
  height: 150px;
}

#character {
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translate(0, -50%);
  width: 180px;
  height: 180px;
  background-size: cover;
}

p {
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  background-color: #013f94;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #022961;
}

.instructions {
  text-align: left;
  margin-top: 30px;
}

.instructions h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #013f94;
}

.instructions ul {
  list-style: disc;
  margin-left: 20px;
  color: #666;
}

#end-game {
  display: none;
}

#end-game h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #013f94;
}

#end-game p {
  margin-bottom: 20px;
  color: #666;
}

#end-game button {
  padding: 12px 24px;
  background-color: #013f94;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#end-game button:hover {
  background-color: #022961;
}

@media (max-width: 576px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 28px;
  }

  #character {
    width: 120px;
    height: 120px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .instructions h3 {
    font-size: 16px;
  }

  .instructions ul {
    font-size: 14px;
  }

  #end-game h2 {
    font-size: 20px;
  }

  #end-game button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
